.App {
  text-align: center;
  margin: 5%;
  margin-left: 15%;
}

.row {
  margin: -4px;
  width: 200px;
}

.button {
  width: 84px;
  height: 39px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
}
.danger {
  background-color: #ea6c6c;
}
